html {
  box-sizing: border-box;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
}

.img-flex {
  width: 100%;
  display: block;
  margin: 0;
}

.banner {
  max-height: 500px;
  position: relative;
}

div .title .paragraph {
  position: absolute;
  max-width: 50em;
}

span {
  background-color: rgba(0, 0, 0, .5);
}

.banner-title {
  position: absolute;
  left: 26px;
  margin: 0;
  font-size: 4rem;
  text-align: left;
  color: #fff;
  width: 91.4%;
}

p {
  position: absolute;
  bottom: 15px;
  left: 20px;
  margin: 0;
  text-align: left;
  font-size: 2rem;
  font-style: italic;
}
