html {
  box-sizing: border-box;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  max-height: 500px;
  position: relative;
}

.banner-title {
  position: absolute;
  margin: 0;
  font-size: 4rem;
  text-align: left;
  background-color: rgba(0, 0, 0, .5);
}

p {
  position: absolute;
  bottom: 15px;
  margin: 0;
  text-align: left;
  font-size: 2rem;
  font-style: italic;
}
